*{
  padding: 0;
  margin: 0;
}
.w{
  width: 1200px;
  margin:auto;
}
body{
  background-color: #f3f5f7;
}
a{
  text-decoration: none;
}
.clearfix:before,.clearfix:after{
  content:"";
  display: table;
}
.clearfix:after
{
  clear:both;
}
.claerfix{
  *zoom:1; 
}
.header{
  height: 42px; 
  /* background-color: pink; */
  margin:30px auto;
}
.logo{
  width: 198px;
  height: 42px;
  /* background-color: purple; */
  float:left;
}
li{
  list-style: none;
}
.nav{
  float:left;
  margin-left: 60px;
}
.nav ul li{
  float:left;
  margin:0 15px;
}
.nav ul li a{
  display:block;
  height: 42px;
  padding: 0 10px;
  line-height: 42px;
  font:18px;
  color: #050505;
}
.nav ul li a:hover{
  border-bottom: 2px solid #00a4ff;
  color:#00a4ff;
}
.search{
  width: 412px;
  height: 42px;
  background-color: skyblue;
  float: left;
  margin-left: 70px;
}
.search input{
  width: 345px;
  height: 40px;
  border:1px solid #00a4ff;
  border-right: none;
  color:#bfbfbf;
  font-size: 14px;
  padding-left: 15px;
  float: left;
}
.search button{
  width: 50px;
  height: 40px;
  float: left;
  /* button有个边框需要手动去掉 */
  border:0;
  background-image: url(images/btn.png);
}
.user{
  float:right;
  line-height: 42px;
  margin-right: 30px;
  font:14px;
  color:#666;
}

/* banner区域 */
.banner{
  height: 421px;
  /* background-color: #1c036c;   */
}
.banner .w{
  height: 421px;
  background: url(images/banner2.png) no-repeat top center;
}
.subnav{
  width: 190px;
  height: 421px;
  background: rgba(0,0,0,0.3);
  float: left;
}
.subnav ul li{
  height: 45px;
  line-height: 45px;
  padding:0 20px;
}
.subnav ul li a{
  color:#f3f5f7;
  font-size:14px;
}
.subnav ul li a span{
  float: right;
}
.subnav ul li a:hover{
  color:#00a4ff;
}
.course{
  float: right;
  width: 230px;
  height: 300px;
  background-color: #fff;
  /* 浮动的盒子不会有外边距合并的问题 */
  margin-top: 50px;
}
.course h2{
  height: 48px;
  background-color: #9bceea;
  text-align: center;
   line-height: 48px;
   font-size: 18px;
}

.bd{
  padding:0 20px;
}
.bd ul li{
  padding:14px 0;
  border-bottom: 1px solid #ccc;
}
.bd ul li h4{
  font-size:16px;
  color:#4e4e4e;
}
.bd ul li p{
  font-size: 12px;
  color:#a5a5a5;
}
.bd .more{
  display:block;
  height: 38px;
  border:1px solid #00a4ff;
  text-align: center;
  line-height: 38px;
  color:#00a4ff;
  font-size:16px;
  font-weight: 700;
  margin-top:5px;
}

/* good 区域 */
.good{
  height: 60px;
  background-color: #fff;
  box-shadow:0 2px 3px 3px rgba(0,0,0,0.1);
  margin-top: 10px;
  line-height: 60px;
  /* 行高能继承给三个孩子 */
}
.good h3{
  float: left;
  margin-left: 30px;
  font-size: 16px;
  color:#00a4ff;
}
.good ul{
  float: left;
  margin-left: 30px;
}

.good ul li{
  float: left;
}
.good ul li a{
  padding: 0 30px;
  font-size: 16px;
  color:#050505;
  border-left:1px solid #ccc;
}
.modify{
  float: right;
  font-size: 14px;
  color:#00a4ff;
  margin-right: 30px; 
}
.box{
  margin-top:30px;
}
.box-hd{
  height: 45px;
}
.box-hd h3{
  float: left;
  font-size: 20px;
  color: #494949;
}
.box-hd a{
  float:right;
  font-size: 12px;
  color:#a5a5a5;
  margin-top:10px;
  margin-right: 30px;
}
/* 把li的父亲ul 变得足够宽能撑下五个盒子就行 */
.box-bd ul{
  width: 1225px;
}
.box-bd ul li{
  position: relative;
  width: 228px; 
  height: 270px;
  float: left;
  background-color: #fff;
  margin-right: 15px;
  margin-bottom: 15px;
}
.box-bd ul li>img
{
  width: 100%;
}
.box-bd ul li h4{
  margin:20px 20px 20px 25px;
  font-size: 14px;
  font-weight: 400;
  color:#050505;
}
.box ul li em{
  position: absolute;
  top:5px;
  right:-5px;
}
.box-bd .info{
  margin:0 20px 0 25px;
  font-size: 12px;
  color:#999;
}
.box-bd .info span{
  color: #ff7c2d;
}
.footer{
  height: 415px;
}

.footer .w{
  padding-top: 35px;
}
.copyright{
  float: left;
}
.links{
  float:right;
}
.copyright p{
  font-size: 12px;
  color:#666;
  margin-top: 20px;
  margin-bottom: 15px;
}
.copyright .app{
  display: block;
  font-size: 16px;
  width: 118px;
  height: 33px;
  border: 1px solid #00a4ff;
  text-align: center;
  line-height: 33px;
  color:#00a4ff;
}
.links dl{
  float: right;
  margin-left: 100px;
}
.links dl dt{
  font-size: 16px;
  color:#333;
  margin-bottom: 5px;
}
.links dl dd a{
  color:#333;
  font-size: 12px;
}