<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../JS/vue.js"></script>
  <title>列表渲染</title>
</head>
<body>
  <div id="root">
    <h2>人员列表遍历数组</h2>
    <button @click.once="add">点击添加新人</button>
    <ul >
      <!-- <li v-for="person in persons":key=person.id>{{person.name}}-{{person.age}}</li> -->
      <li v-for="(p,index) in persons" :key="p.id">{{p.name}}------{{p.age}} <input type="text"></li>
      <!-- <li v-for="(value,key) in car":key="key">{{key}}-----{{value}}</li>

      <li v-for="a,b of str">{{a}}---{{b}}</li>
      <li v-for="a,b of 5 ">{{a}}---{{b}}</li> -->

    </ul>
  </div>
</body>
<script>
  Vue.config.productionTip = false
  new Vue({
    el:'#root',
    data:{
      persons:[
        {id:1,name:'张三',age:18},
        {id:2,name:'李四',age:19},
        {id:3,name:'王五',age:20}
      ],
      // car:{
      //   name:'奥迪A8',
      //   price:'88w',
      //   color:'耀夜黑'
      // },
      // str:'hello world'
    },
    methods:{
      add(){
        const p = {'id':4, 'name':'刘二娃', 'age':21}
        this.persons.unshift(p)
      }
    }
  })
</script>
</html>