<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../JS/vue.js"></script>
  <title>收集表单数据1</title>
</head>
<body>
  <div id="root">
    <form @submit.prevent="demo">
      <label for="id">账号：</label> <input type="text" id="id" v-model.trim="userInfo.account"><br> <br> 
      <label for="password">密码：</label> <input type="password" id="password" v-model="userInfo.password"><br><br> 
      <label for="number">年龄</label> <input type="number" id="number" v-model.number="userInfo.age"><br><br> 
      性别： 
      <label for="male">男</label><input type="radio" id="male"name="sex" value="male" v-model="userInfo.sex"> 
      <label for="female">女</label><input type="radio" id="female" name="sex" value="female" v-model="userInfo.sex">  <br><br> 
      爱好：
      <label for="eating">吃饭</label><input type="checkbox" name="hobby" id="eating"v-model="userInfo.hobby" value="eat"> 
      <label for="sleep">睡觉</label><input type="checkbox" name="hobby" id="sleep"v-model="userInfo.hobby" value="sleep"> 
      <label for="play">打豆豆</label><input type="checkbox" name="hobby" id="play"v-model="userInfo.hobby" value="play">
      <br><br>
      <select v-model="userInfo.city">
        <option value="">请选择校区</option>
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="hangzhou">杭州</option>
      </select>
      <br><br>
      其他信息：
      <textarea name="" id="" cols="30" rows="10" v-model.lazy="userInfo.other"></textarea><br><br>
      <!-- 上面不需要实时收集，只需要输入完收集，故加个lazy修饰符 -->
      <input type="checkbox" v-model="userInfo.agree">阅读并且接受协议 <a href="www.atguigu.com">《用户协议》</a>
      <button>提交</button>
    </form>
  </div>
</body>
  <script>
    Vue.config.productionTip = false
    const vm = new Vue({
      el:'#root',
      data:{
        userInfo:{
          account:'',
          password:'',
          sex:'',
          hobby:[],
          city:'',
          other:'',
          agree:'',
          age:18
        }
      },
      methods:{
        demo(){
          console.log(JSON.stringify(this.userInfo))
        }
      }
    })
  </script>
</html>