.container{
  width: 80%;
  height: 800px;
  margin-top:50px;
  padding:30px;
  border:1px solid black;
}
.header{
  margin-bottom: 20px;
  margin-left: 20px;
}
.table{
  max-height: 600px;
  overflow: auto;
}
li{
  height:60px;
  list-style-type: none;
}
.btn_right{
  float:right;
  margin-right: 30px;
  /* background-color: blue; */
}

.name_next,.id_next,.introduction_next{
  margin: auto 200px;
  text-align: center;
  min-height: 80px;
  width: 400px;
  
}
.introduction_next{
  min-height:400px;
  word-wrap:break-word; 
word-break:break-all; 
overflow: hidden;
}
.traceback{
  width: 100px;
  height: 40px;
}