<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../JS/vue.js"></script>
  <title>列表渲染</title>
</head>
<body>
  <div id="root">
     <h2>人员列表</h2>
     <input type="text" placeholder="请输入姓名" v-model="keyWord">
     <ul>
      <li v-for="(p,index) in filterPersons" :key="index">
        {{p.name}}-{{p.age}}-{{p.sex}}
      </li> 
     </ul>
  </div>
</body>
<script>
  Vue.config.productionTip = false
  // new Vue({//watch实现
  //   el:'#root',
  //   data:{
  //     keyWord:'',
  //     persons:[
  //       {id:1,name:'马冬梅',age:18,sex:'female'},
  //       {id:2,name:'周冬雨',age:19,sex:'female'},
  //       {id:3,name:'周杰伦',age:20,sex:'male'},
  //       {id:4,name:'温兆伦',age:22,sex:'male'},
  //     ],
  //     filterPersons:[]
  //   },
  //   watch:{
  //     /*keyWord(val){//这里的val是新值
  //       this.filterPersons = this.persons.filter((p)=>{
  //         return p.name.indexOf(val)!==-1
  //       })
  //     }*/
  //     keyWord:{
  //       immediate:true,
  //       handler(val){
  //         this.filterPersons = this.persons.filter((p)=>{
  //           return p.name.indexOf(val)!==-1
  //         })
  //       }
  //     }
  //   }
  // })
    //computed实现
    new Vue({
      el:'#root',
      data:{
        keyWord:'',
        persons:[
          {id:1,name:'马冬梅',age:18,sex:'female'},
          {id:2,name:'周冬雨',age:19,sex:'female'},
          {id:3,name:'周杰伦',age:20,sex:'male'},
          {id:4,name:'温兆伦',age:22,sex:'male'},
        ]
      },
      computed:{
        filterPersons(){
          return this.persons.filter((p)=>{
            return p.name.indexOf(this.keyWord)!==-1
          })
        }
      }
    })

</script>
</html>