<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../JS/vue.js"></script>
</head>
<body>
  <div id="root">
    <h1>学生信息</h1>

    <button @click="student.age++">年龄+1岁</button><br>
    <button @click="addSex">添加性别属性，默认值：男</button><br>
    <button @click="student.sex='未知'">修改性别</button><br>

    <button @click="addFriend">在列表首位添加一个朋友</button><br>
    <button @click="modify">修改第一个朋友的名字为：张三</button><br>
    <button @click="addHobby">添加一个爱好</button><br>
    <button @click="modifyFirst_hobby">修改第一个爱好为：开车</button><br>
    <button @click="filter_smoking">过滤掉爱好中的抽烟</button><br>


    <h3>姓名：{{student.name}}</h3>
    <h3>年龄{{student.age}}</h3>
    <h3>性别：{{student.sex}}</h3>
    <h3>爱好</h3>
    <ul>
      <li v-for="(h,index) in student.hobby" :key="index">{{h}}</li>
    </ul>
    <h3>朋友们</h3>
    <ul>
      <li v-for="(f,index) in student.friends" :key="index">
        {{f.name}}-----{{f.age}}岁
      </li>
    </ul>
  </div>
</body>
<script>
  Vue.config.productionTip = false
  const vm = new Vue({
    el:'#root',
    data:{
      student:{
        name:'ChiChengL',
        age:18,
        hobby:['抽烟','喝酒','打架','烫头'],
        friends:[
          {name:'jerry',age:28},{name:'Ailex',age:18}
        ]
      }
    }, 
    methods:{
      addSex(){
        Vue.set(this.student,'sex','男')
      },
      addFriend(){
        const obj = {name:'Tom',age:25}
        this.student.friends.unshift(obj)
      },
      modify(){
        this.student.friends[0].name = '张三'
      },
      addHobby(){
        this.student.hobby.push('打台球')
      },
      modifyFirst_hobby(){
        // this.student.hobby.splice(0,1,'开车')
        // Vue.set(this.student.hobby,0,'开车')
        this.$set(this.student.hobby,0,'开车') 
      },
      filter_smoking(){
        this.student.hobby = this.student.hobby.filter(item =>{
          return item!== '抽烟'
        })
      }
    }
  })
</script>
</html>